---
layout: default
---
<h2>Available Data Claims</h2>
<p>Digital Trust Protocol will provide access to a variety of data claims. It's up to the OpenId Provider (OP) to define the claims available (which can be
obtained from the well-known endpoint).</p>
<p>In the sandbox environment and for testing purposes, you should be able to request data and make assertions for the following data claims:</p>
{% for category in site.data.claims %}

<h3>{{category.name}}</h3>
{{category.description}}
<table>
    <tr>
        <th>Claim Id</th>
        <th>Description</th>
        <th>Type</th>
        <th>Example</th>
        <th>Normative Refs.</th>
    </tr>
    {% for claim in category.claims %}
    <tr>
            <td>{{claim.name}}</td>
            <td>{{claim.description}}</td>
            <td>{{claim.type}}</td>
            <td>{{claim.example}}</td>
            <td>{{claim.references}}</td>
        </tr>
    {% endfor %}
</table>
{% endfor %}
