---
layout: default
---
<h2>Available Data Claims</h2>
<p>Digital Trust Protocol will provide access to a variety of data claims. It's up to the OpenId Provider (OP) to define the claims available (which can be
obtained from the well-known endpoint).</p>
<p>In the sandbox environment and for testing purposes, you should be able to request data and make assertions for the following data claims:</p>

<table>
    <tr>
        <th>Category</th>
        <th>Claim Id</th>
        <th>Description</th>
        <th>Type</th>
        <th>Example</th>
        <th>Normative Refs.</th>
    </tr>
    {% for category_hash in site.data.claims %}
        {% assign category = category_hash[1] %}
        {% for claim in category.claims %}
        <tr>
            <td>{{ category.category }}</td>
            <td><strong>{{ claim.name }}</strong></td>
            <td>{{ claim.description }}</td>
            <td>{{ claim.type }}</td>
            <td>{{ claim.example | markdownify }}</td>
            <td>{{ claim.references | markdownify }}</td>
        </tr>
        {% endfor %}
    {% endfor %}
</table>

